.messagesContainer {
    padding: 0 25px;
    height: 300px;
    width: 300px;
    overflow-y: auto;
    margin-top: 2em;
    margin-bottom: 5em;
    border: 1px solid black;
}

.title {
    margin: 0;
    font-weight: 650;
    font-size: 33px;
    text-align: center;
    display: inline-block;
    padding-top: 25px;
}