.Layout {

    gap: 10px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto 200px;
}
.Left_part {
    width: 150px;
    /* grid-column: 1 / 2; */
    background-color: white;
}



.Right_part {
    min-width: 150px;
    /* grid-column: 3 / 4; */
    background-color: white;
    padding: 10px 10px;
}



.Utils {
    display: flex; 
	flex-direction: row; 
	flex-wrap: nowrap; 
    width: 100%;
}



